[paths]
source =
   src/django_github_webhook
   */site-packages/django_github_webhook

[run]
branch = True
source = django-github-webhook
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
