[paths]
source =
   src/django-github-webhook
   */site-packages/django-github-webhook

[run]
branch = True
source = django-github-webhook
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
