graft docs
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml
include manage.py

global-exclude *.py[cod] __pycache__ *.so *.dylib
